<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>us.sidnicio.localnamed</string>
	<key>Program</key>
	<string>/usr/libexec/localnamed</string>
	<key>EnableTransactions</key>
	<false/>
	<key>Sockets</key>
	<dict>
		<key>localnamed</key>
		<dict>
			<key>SockFamily</key>
			<string>Unix</string>
			<key>SockPathMode</key>
			<integer>438</integer>
			<key>SockPathName</key>
			<string>/var/run/localnamed.sock</string>
			<key>SockType</key>
			<string>Stream</string>
		</dict>
	</dict>
</dict>
</plist>
